/* Font ink free download */
/* @font-face{
    font-family: ink free;
    src: url(../assets/ink-free-normal.ttf);
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI';
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.hamnav{
  display: none;
  text-align: right;
  height: 70px;
  line-height: 70px;
}

.hamitems{
  margin: 0;
}

.hamitems a{
  clear: right;
  text-decoration: none;
  color: gray;
  margin: 0 10px;
  line-height: 70px;
}

label{
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 60px;
  display: none;
  width: 26px;
  float: right;
}

#toggle{
  display: none;
}

.body{
  overflow:hidden;
}

.logo {
  display: inline-block;
  width: 40%;
  vertical-align: middle;
  padding: 15px;
  padding-top: 10px;
}

.clr{
  clear: both;
}

.icon{
  width: 2.25em;
  height: 2.25em;
  vertical-align: middle;
  margin-left: 50px;
  display: inline-block;
}

.logo a {
  margin-top: 0.2em;
  font-size: 22px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  width: 200px;
  display: inline-block;
  vertical-align: middle;
}

.logo a:hover {
  color: white;
  text-shadow: 0 0 8px #e682ff, 0 0 8px #e682ff, 0 0 8px #e682ff,
    0 0 8px #e682ff, 0 0 8px #e682ff;
}
nav {
  background-color: #1f123d;
  position: fixed;
  width: 100%;
  color: rgb(255, 255, 255);
  z-index: 6;
  height: 3.5em;
} 

.navbar li {
  display: inline-block;
}
.navbar li a {
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  color: white;
  font-size: 16pt;
  vertical-align: middle;
  /* font-weight: bold; */
}
.navbar li a:hover {
  color: magenta;
}
.navtext {
  text-align: right;
  width: 54%;
  display: inline-block;
}

.navbar button{
  margin-left: 10px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: transparent;
  padding: 0.2em 0.5em;
  padding-bottom: 0.4em;
  vertical-align: middle;
}

.navbar button a{
  color: white;
  text-shadow: 2px 2px 5px magenta;
}

.home {
  background: url(../assets/back.jpg);
  color: white;
  padding: 200px 25px;
  text-align: center;
  height: 54vw;
  vertical-align: middle;
  background-repeat: round;
  background-size: cover;
}
.home h1 {
  margin-top: -0.1em;
  font-size: 150px;
  font-style: italic;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #b800e6, 0 0 20px #b800e6,
    0 0 25px #b800e6, 0 0 30px #b800e6, 0 0 35px #b800e6;
  animation: glow 1s ease-in-out infinite alternate;
  cursor: default;
}

@keyframes glow {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #b800e6, 0 0 20px #b800e6,
      0 0 25px #b800e6, 0 0 30px #b800e6, 0 0 35px #b800e6;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #b800e6,
      0 0 40px #b800e6, 0 0 50px #b800e6, 0 0 60px #b800e6, 0 0 70px #b800e6;
  }
}

.home h2 {
  font-size: 24px;
  letter-spacing: 2px;
  cursor: text;
}

.home button {
  margin-top: 40px;
  padding: 10px 10px;
  border-radius: 18px;
  font-size: 18px;
  border: none;
  font-weight: bold;
  text-align: center;
  opacity: 1;
  z-index: -1;
  cursor: pointer;
  width: 9em;
  background-color: white;
}

.home button:hover{
  background-color: rgb(160, 36, 160);
  color: white;
}

.home button:focus {
  outline: none;
}
.about {
  background-image: linear-gradient(black, #190331);
  padding: 75px 25px 0px 25px;
  text-align: center;
  color: white;
  height: auto;
}

.about h1 {
  font-size: 40px;
  cursor: text;
}

.about p{
  cursor: text;
}

.schedule{
  background-image: linear-gradient(#190331, #2c0a53);
  padding: 75px 25px 0px 25px;
  text-align: center;
  color: white;
  height: auto;
}

.schedule h1{
  font-size: 40px;
  cursor: text;
}

.schedule li{
  display: inline-block;
}

.scheduleText{
  width: 65%;
  margin-left: 2em;
  text-align: left;
  border-right: 5px dashed white;
  vertical-align: middle;
}

.scheduleimg{
  width: 35%;
  cursor: default;
}

.scheduleimg img{
  height: 12em;
  align-items: center;
}

.scheduleContent{
  border-radius: 50px;
  display: flex;
  margin-top: 60px;
  text-align: center;
  background-color: #735b8178;
  width: 70%;
  padding: 1em;
  margin-left: 15%;
}

.scheduleContent h2{
  font-size: 32px;
  font-weight: bold;
  padding-top: 0.5em;
  padding-bottom: 1em;
  padding-left: 0.5em;
  cursor: text;
}

.scheduleimg h2{
  padding-bottom: 0.5em;
}

.scheduleText h5{
  font-size: 20px;
  font-weight: normal;
  padding: 0.25em 0.5em;
  padding-left: 1em;
}

.scheduleText i{
  font-size: 30px;
  padding-right: 0.5em;
}

.benefits {
  background-image: linear-gradient(#2c0a53,#310b8b);
  padding: 75px 25px 0px 25px;
  height: auto;
  text-align: center;
  color: white;
  cursor: default;
}

.benefits h1 {
  font-size: 40px;
  padding-bottom: 1em;
  cursor: text;
}

.benefits ul{
  display: flex;
  cursor: default;
}

.benefits ul h2{
  cursor: text;
}

.benefits li{
  padding: 2em;
  display: inline-block;
  width: 33%;
  cursor: text;
}

.certificateIcon{
  width: 35%;
}

.knowledgeIcon{
/*   max-height: 6em; */
  width: 26%;
}

.experienceIcon{
/*   max-height: 6em; */
  width: 35%;
}

.benefits h2 {
  font-size: 25px;
  padding: 1em;
  cursor: default;
}

.benefits p{
  text-align: justify;
}

.faq{
  background: url(../assets/faq-background.png);
  background-repeat: round;
  background-size: cover;
  height: auto;
  padding: 70px 25px;
  padding-bottom: 125px;
  text-align: left;
  color: white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: block;
  cursor: default;
}
.faq h1 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 60px;
  cursor: text;
}

.faq h2 {
  font-size: 24px;
  padding-bottom: 0.5em;
  cursor: text;
}

.faq p{
  text-align: justify;
  cursor: text;
}

.faq a{
  text-decoration: none;
}

.faq a:hover{
  color: magenta;
}

.container{
  width: 85%;
  margin-left: 7.5%;
  display: flex;
  float: center;
  color: black;
}

.questionBox {
  width: 50%;
  cursor: text;
  background-color: white;
  border-radius: 25px;
  padding: 1.5em;
  margin-right: 2em;
}

.questionBox2 {
  width: 50%;
  cursor: text;
  background-color: white;
  border-radius: 25px;
  padding: 1.5em;
  margin-left: 2em;
}

.register{
  text-align: center;
}

.register button{
  float: center;
  padding: 10px 10px;
  border-radius: 18px;
  border: none;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  opacity: 1;
  z-index: -1;
  cursor: pointer;
  width: 10em;
  margin-top: 5em;
}

.register button:hover {
  opacity: 1;
  background-color: rgb(160, 36, 160);
  color: white;
}

.aboutContent {
  display: flex;
  margin-top: 100px;
  align-items: center;
}
.aboutimg {
  width: 55%;
}
.aboutimg img {
  width: 65%;
}
.aboutText {
  width: 30%;
  text-align: justify;
}
.aboutText p {
  font-size: 20px;
}

.footer {
  background-color: #1f123d;
  height: 22em;
  padding: 50px 25px;
  text-align: center;
  color: white;
  cursor: default;
}

.leftFooterContainer{
  float: left;
  width: 37.5%;
  margin-left: 5%;
}
.leftFooterContainer h1{
  text-align: left;
  margin-left: 10%;
  font-size: 24px;
  cursor: text;
}

.leftFooterContainer p{
  text-align: left;
  margin-left: 10%;
  font-size: 20px;
  margin-right: 10%;
  cursor: text;
}

.sitemap{
  display: block;
}

.leftFooterContainer ul{
  margin-left: 5%;
  list-style: none;
}

.leftFooterContainer li{
  text-align: left;
}

.leftFooterContainer li a{
  padding-left: 5.5%;
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.leftFooterContainer li a:hover{
  color:magenta;
}

.midFooterContainer{
  float: left;
  width: 30%;
  text-align: left;
}

.midFooterContainer h1{
  font-size: 24px;
  cursor: text;
}

.socialmedia{
  display: block;
}

.socialmedia img{
  float: left;
  padding-top: 0.5em;
  height: 2em;
  padding-right: 0.75em;
}

.contact{
  display: block;
}

.contact img{
  float: left;
  padding-top: 0.5em;
  height: 1.8em;
}

.contact h1{
  padding-top: 1.5em;
  cursor: text;
}

.contact h2{
  padding-top: 0.75em;
  font-size: 20px;
  line-height: 20px;
  font-weight: normal;
  cursor: text;
}

.contact h3{
  font-size: 20px;
  margin-top: -2em;
  padding-left: 2em;
  font-weight: normal;
  cursor: text;
}

.contact a{
  text-decoration: none;
  color : white;
}

.contact a:hover{
  color : magenta;
}

.midFooterContainer h3{
  padding-top: 2.5em;
  display: block;
}

.rightFooterContainer{
  float: left;
  width: 25%;
}

.rightFooterContainer h1{
  font-size: 24px;
  text-align: left;
  cursor: text;
}

.rightFooterContainer img{
  float: left;
  height: 13em;
}

.copyright{
  background-color: #1f123d;
  color: white;
  text-align: center;
  padding: 1em;
}

.copyright p{
  text-align: center;
  padding-top: 1em;
  margin-left: 10%;
  width: 80%;
  font-size: 18px;
  border-top: 1px solid white;
  cursor: text;
}

/* buat responsif */
@media(max-width: 1020px){
  *{
    width: auto;
    font-family: 'Arial';
  }

  nav img{
    vertical-align: middle;
  }

  .logo img{
    margin-left: 25px;
    height: 2.25em;
    width: 2.25em;
  }

  .logo a{
    display: none;
    font-family: 'sans-serif';
  }

  .navbar li{
    display: none;
  }

  .navtext{
    display: inline-block;
    width: 55%;
    vertical-align: middle;
    padding: 15px;
    font-size: 1.5em;
  }

  .hamnav {
    display: inline;
    opacity: 1;
  }

  label {
    display: block;
    cursor: pointer;
    font-size: 35px;
    margin-top: 0.1em;
  } 

  .hamitems{
    text-align: center;
    width: 100%;
    opacity: 1;
    display: none;
    background-color: #1f123d;
    margin-top: -20%;
  }

  #toggle:checked +  .hamitems {
    display: block;
  }

  .hamitems a{
    display: block;
    color: white;
    font-size: 20px;
    border-top: 2px solid rgb(60, 1, 99);
    margin: 0%;
    line-height: 50px;
  }
  
  .hamitems a:hover{
    color: magenta;
  }

  .logo{
   margin-top: -0.25%;
  }
  .home{
    height: 100%;
  }

  .home h1{
    font-size: 90px;
  }

  .home h2{
    font-size: 24px;
    width: 80%;
    text-align: center;
    margin-left: 10%;
  }

  .home button{
    margin-top: 2em;
    font-size: 16px;
  }

  .home button:hover{
    background-color: white;
    color: black;
  }

  .about{
    height: 100%;
  }

  .aboutContent{
    display: block;
    align-items: center;
    margin-top: 50px;
  }

  .aboutimg{
    width: 100%;
  }

  .about h1{
    font-size: 32px;
  }

  .aboutText{
    margin-top: 50px;
    width: 80%;
    margin-left: 10%;
  }

  .aboutText p{
    font-size: 18px;
  }

  .schedule{
    height: 100%;
    text-align: center;
  }

  .schedule h1{
    font-size: 32px;
  }

  .scheduleContent{
    margin-top: 50px;
    display: block;
    width: 80%;
    margin-left: 10%;
    border-radius: 30px;
  }

  .scheduleContent h2{
    font-size: 24px;
    padding-bottom: 1em;
    text-align: center;
  }

  .scheduleText{
    margin-left: 0;
    border-right: none;
    border-bottom: 2px dashed white;
    width: auto;
  }

  .scheduleText h5{
    font-size: 18px;
    padding-bottom: 0em;
  }

  .scheduleText i{
    font-size: 24px;
  }

  .scheduleimg{
    width: auto;
  }

  .scheduleimg img{
    height: 200px;
  }

  .benefits{
    height: 100%;
  }

  .benefits h1{
    font-size: 32px;
  }
  
  .benefits h2{
    font-size: 24px;
  }

  .benefits ul{
    display: block;
  }

  .benefits li{
    width: 80%;
    font-size: 18px;
    padding: 0;
    padding-bottom: 3em;
  }

  .benefits img{
    width: 15%;
  }

  .knowledgeIcon{
    max-width: 12%;
    max-height: 6em;
  }

  .faq{
    display: block;
  }
  
  .faq h1{
    font-size: 32px;
  }
    
  .faq p{
    font-size: 18px;
  }

  .container{
    display: block;
  }

  .questionBox{
    width: 100%;
    margin-right: 0;
    margin-bottom: 2em;
  }

  .questionBox2{
    width: 100%;
    margin-left: 0;
  }

  .faq h2{
    font-size: 20px;
  }

  .register button{
    font-size: 20px;
    padding: 10px auto;
  }

  .footer{
    height: 42.5em;
    padding: 25px 10px;
  }

  .leftFooterContainer{
    width: 80%;
    margin-left: 2.5%;
  }

  .leftFooterContainer h1{
    margin-top: 1em;
    font-size: 20px;
  }

  .leftFooterContainer p{
    font-size: 18px;
    margin-right: 0%;
  }

  .sitemap{
    display: flex;
  }

  .leftSitemap{
    width: 63%;
  }

  .leftFooterContainer li a{
    padding-left: 11.5%;
    font-size: 18px;
  }

  .midFooterContainer{
    width: 80%;
    margin-top: 2em;
    margin-left: 10.5%;
  }

  .midFooterContainer h1{
    font-size: 20px;
  }

  .contactPerson{
    display: block;
  }
  
  .contact1{
    width: 55%;
  }

  .contact h2{
    font-size: 18px;
  }

  .contact h3{
    font-size: 18px;
  }

  .rightFooterContainer{
    width: 80%;
    margin-top: 2em;
    margin-left: 10.5%;
  }

  .rightFooterContainer h1{
    font-size: 20px;
    margin-left: 0%;
  }

  .rightFooterContainer img{
    height: 10em;
    margin-left: -2%;
  }

  .copyright{
    padding-top: 4em;
  }

  .copyright p{
    padding-top: 0.7em;
    font-size: 14px;
  }

  @media(min-width: 601px){
      .contactPerson{
        display: flex;
      }

      .footer{
        height: 36.5em;
      }
  }
}

/* @keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }
  to {
    opacity: 1;
    transform: rotateX(0);
  }
} */
